.contact-main{
    text-align: center;
}

.contact-title{
    font-size: 4rem;
}

.contact-title > span, .contact-left-title > span{
    color: #BC3A80;
}

.contact-title > img{
    position: absolute;
    z-index: -1;
}

.contact-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-left-title{
    font-size: 3rem;
    text-align: left;
}

.contact-left-side>*{
    margin-bottom: 3rem;
}

.contact-left-side>button{
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
}