.home-body{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.home-right-title{
    font-size: 5rem;
}

.home-right-desc{
    margin-top: 2rem;
    font-size: 3rem;
}

.home-buttons{
    display: flex;
    justify-content: space-around;
    margin: 6rem;
}

.home-buttons>button{
    font-size: 2rem;
    padding: 1.5rem 6rem;
    border-radius: 6px;
}

.home-buttons-register{
    background-color: #E0BEE0;
    color: black;
}