.nav-title {
    color: inherit;
    font-size: 30px;
    font-weight: lighter;
}

.nav-title:hover {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.nav-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10rem;
}

.navbar-nav>li>a>h4 {
    color: white;
}

.navbar-nav>li>a>h4:hover {
    text-decoration: none;
}

.navbar-nav>li>a{
    padding: 1rem 2rem;
    width: 13rem;
    height: 6rem;
    text-align: center;
}

.navbar-nav>li>a:hover {
    background-color: rgb(77, 77, 77);
    border: 0.1px solid rgb(132, 132, 132);
    border-radius: 20px;
    padding: 1rem 2rem;
}

.navbar-active{
    background-color: rgb(77, 77, 77);
    border: 0.1px solid rgb(132, 132, 132);
    border-radius: 20px;
    padding: 1rem 2rem;
}

.navbar-buttons>*{
    margin: 0 1rem;
}

.user-image {
    color: #fff;
    width: 43px;
    height: 43px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    object-fit: cover;
}

.home-pinkBubble{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}