.register-main{
    display: flex;
    justify-content: space-around;
}

.register-left{
    font-size: 4rem;
    text-align: center;
}

.register-left-title{
    margin: 4rem;
}

.register-left-title > span{
    color: #BC3A80;
}

.register-right{
    padding: 4rem;
    margin: 3rem;
    background-color: rgb(43, 43, 43);
    border-radius: 5%;
}

.register-right>*{
    margin-bottom: 3rem;
}

.register-submit-button {
    width: 80%;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
}