.profile-main {
    padding: 0 10rem;
    display: flex;
}

.profile-right{
    padding: 2rem;
    font-size: 1.6rem;
}

.profile-left-account,
.profile-left-name {
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 0;
}

.profile-left-image {
    text-align: center;
}

.profile-left-image>label>img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-right-textbox {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}

.profile-right-button {
    text-align: right;
}

.profile-right-button>button {
    padding: 1rem 5rem;
    font-size: 1.8rem;
}

.profile-right-textbox>div>input{
    padding: 1rem !important;
}

.profile-user-image {
    background-color: #3B9CEA;
    color: #fff;
    width: 40rem;
    height: 40rem;
    font-size: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 38rem;
    object-fit: cover;
}