.profile-main {
    padding: 0 10rem;
    display: flex;
}

.profile-right{
    padding: 2rem;
    font-size: 1.6rem;
}

.profile-left-account,
.profile-left-name {
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem 0;
}

.profile-left-image {
    text-align: center;
}

.profile-left-image>img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
}

.profile-right-textbox {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}

.profile-right-button {
    text-align: right;
}

.profile-right-button>button {
    padding: 1rem 5rem;
    font-size: 1.8rem;
}

.profile-right-textbox>input{
    padding: 1rem;
}