.vote-party-main {
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    padding-top: 4rem;
    justify-content: space-around;
}

.vote-party-card {
    text-align: center;
    margin: 2rem;
}

.vote-party-card>img {
    border-radius: 50%;
    object-fit: cover;
}

.vote-party-card-name {
    font-size: 23px;
    padding: 2rem;
}

.vote-party-card-description {
    overflow: hidden;
    /* Hide overflowing text */
    display: -webkit-box;
    /* Use webkit-based box layout */
    -webkit-line-clamp: 2;
    /* Set the number of lines to display */
    -webkit-box-orient: vertical;
    /* Set vertical orientation for box layout */
    text-overflow: ellipsis;
    /* Show ellipsis for overflowing text */

    font-size: 16px;
    font-weight: 100;
}

.vote-party-button{
    margin-top: 2rem;
}